<div class="row">
  <div class="col-xs-12">
    <img src = "{{selRecipe.imagePath}}" style="max-height: 250px" class="img-responsive">
  </div>
</div>
<div class ="row">
  <div class="col-xs-12">
    <h1>{{ selRecipe.name }}</h1>
  </div><br>
  <hr>
</div>
<div class ="row">
    <div class="col-xs-12">
      <div class="btn-group">
        <button appDropdown type="button" class="btn btn-primary dropdown-toggle">Manage Recipe<span class="caret"></span>
        </button>
        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
            <a class="dropdown-item dark" routeLink="/shoppinglist"
            (click) = "toShoppingList()">Add ingriedents</a>
            <a class="dropdown-item" href="#">Edit Recipe</a>
            <a class="dropdown-item" href="#">Delete Recipe</a>
          </div>
    </div>
  </div>
</div>
<div class ="row">
    <div class="col-xs-12">
      Description: 
      <p> {{ selRecipe.description}}</p>
    </div>
</div>
<div class ="row">
    <div class="col-xs-12">
      
      <ul  class="list-group">
        <li class="list-group-item"
          *ngFor="let i of selRecipe.ingredients">
          {{ i.name }} - {{ i.amount }}
        </li>
      </ul>
      
    </div>
</div>
  
